
:root{
    --container-padding: 40px;
    --container-min-margin: auto;
}    

@media (min-width: 2000px){
    :root{
        --container-padding: 40px;
        --container-min-margin: 800px;
    }    
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #2F4858;
}
header{
    margin: 0px;
    padding: 0px;
}

h2{
    color: #F6AE2D;
}
h3{
    color: white;
}
h4{
    color: white;
}
p{
    color: white;
}

.multiUl{
    list-style-type: none;
}

.multiUl li p {
    margin-bottom: 0px;
}

.profileList{
    list-style-type: none;
}

.headerCard{
    text-align: center;
    background-color: #F26419;
    min-height: 150px;
}

.titleName{
    margin: 0px;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    padding-right: var(--container-padding);
    margin-left: var(--container-min-margin);
}

.rightContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    padding-left: var(--container-padding);
    margin-right: var(--container-min-margin);
}

.listContainer{
    display: flex;
    flex-direction: row;
}

.listContainer i {
    padding-right: 10px;
}